<div class="container d-flex justify-content-center align-items-center">
<form class="shadow border-1 p-4 mt-2">
        <mat-form-field appearance="outline">
            <mat-label>firstname</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    <div class="mb-3">
        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" routerLink="../list">Submit</button>
  </form>
</div>