<div class="example-container h-100 shadow border-1">
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-dark" aria-current="page" routerLink="/user">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="">Form</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link text-dark" routerLink="">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
