<div class="example-container h-100 shadow border-1">
  <mat-list role="list">
    <mat-list-item role="listitem" routerLink="/user" class="ps-1 border-bottom">
      <a href="" class="nav-link text-dark">User</a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/user" class="ps-1 border-bottom">
      <a href="" class="nav-link text-dark">Form</a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/user" class="ps-1 border-bottom">
      <a href="" class="nav-link text-dark">view</a>
    </mat-list-item>
  </mat-list>
</div>
